body {



}

#topnav{
float: left;

}

#container{
    width: 70px;
    height:100px;
    padding-top: 200px;
    padding-bottom: 200px;

}

#header{
     height: 20%;
     background: black;
     padding-bottom: 3%;
     padding-top:0%;
     width:100%;


}

#footer{
    height:30%;
    background: black;
    width:100%;
    bottom: 0px;
    padding-bottom: 200px;
    text-align: center;
}

div.f {
    text-align: center;
}

p.footer{
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    color: #f9f9f9;
    float: left;
    padding-left: 150px;
    text-align: center;
    vertical-align: 100px;
}


p.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 60%;
    color: #f9f9f9;
    text-align: center;
    padding-top: 150px;
}

ul {
    display: inline;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
}