body {

    height: 100%;

}

#topnav{
float: right;
margin-right: 20%;
margin-top:-1.6%;
}

#container{
    width: 100%;
    height: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    

}

#header{
     height: 44px;
     background: black;
     padding-bottom: 2%;
     width:100%;


}

#footer{
    height:30%;
    background: black;
    width:100%;
    bottom: 0px;
    text-align: center;

}

div.f {
    text-align: center;
}

p.footer { 
    color: #f9f9f9;
    font-family: 'Montserrat', sans-serif;
    font-size: 90%;
    float: left;
    padding-left: 90px;
    margin-top: 30%;
    text-align: center; 
}

div.icons {
    color: #f9f9f9;
    float: left;
    text-align: center;
    padding-left: 90px;
    margin-top: 80%;

}

a:link {
    color: #f9f9f9;
}

a:visited {
    color: #605ca8;
}

a:hover {
    color: #605ca8;
}


p.copyright{
    font-family: 'Montserrat', sans-serif;
    font-size: 70%;
    color: #f9f9f9;
    text-align: center;
    margin-top: 9%;
    margin-bottom: 2%
}

ul {
    display: inline;
    list-style-type: none;
    text-align: center;
}

li {
    display: inline-block;
}